:root {
  --white: #f3f8ff;
  --lightPurple: #e26ee5;
  --defaultpurple: #7e30e1;
  --darkPurple: #49108b;
}

body {
  margin: 0;
  font-family: YuGothic, "Yu Gothic", "ヒラギノ角ゴシック", "Hiragino Sans",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  text-align: center;
  padding: 8px;
}
.bgBlur {
  position: absolute;
  width: 24rem;
  height: 24rem;
  border-radius: 50%;
  background: var(--lightPurple);
  filter: blur(72px);
}
.bgBlurLeftTop {
  top: -8%;
  left: -8%;
}
.bgBlurRightTop {
  top: -8%;
  right: -8%;
}
.bgBlurLeftBottom {
  bottom: -8%;
  left: -8%;
}
.bgBlurRightBottom {
  bottom: -8%;
  right: -8%;
}
