:root {
  --white: #f3f8ff;
  --lightPurple: #e26ee5;
  --defaultPurple: #7e30e1;
  --darkPurple: #49108b;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: YuGothic, "Yu Gothic", "ヒラギノ角ゴシック", "Hiragino Sans",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  text-align: center;
  padding: 1rem;
}
.bgBlur {
  position: absolute;
  width: 24rem;
  height: 24rem;
  border-radius: 50%;
  background: var(--lightPurple);
  filter: blur(72px);
  z-index: -1;
}
.bgBlurLeftTop {
  top: -8%;
  left: -8%;
}
.bgBlurRightTop {
  top: -8%;
  right: -8%;
}
.bgBlurLeftBottom {
  bottom: -8%;
  left: -8%;
}
.bgBlurRightBottom {
  bottom: -8%;
  right: -8%;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: bold;
  color: var(--white);
  border: 2px solid var(--darkPurple);
  border-radius: 0.5rem;
  background: var(--darkPurple);
  transition: all 0.2s ease-out;
  transform-origin: center center;
  padding: 1rem;
}

.button:hover {
  cursor: pointer;
  color: var(--darkPurple);
  background: transparent;
}
.iconHover {
  cursor: pointer;
}
